body {
  font-family: Arial, sans-serif;
  color: #1A163D;
  background-color: #F7F7F5;
  font-weight: 100;
  font-variant: small-caps;
}

input {
  color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
}